<% if @user.profile_image.attached?  %>
  <div style="width:400px;height:auto">
    <%=image_tag(@user.profile_image,style:"width:100%") %>
  </div>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
